body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.cardImage img:hover {
  transform: scale(1.05);
}

.cardTitle h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.cardTitle h6 {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.cardText {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333;
}

.cardText h3 {
  font-size: 22px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.cardText h4 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #444;
  font-weight: 500;
}

.cardText h4 b {
  color: #222;
  padding-left: 10px;
  font-weight: bold;
}

.icons {
  width: 24px;
  height: 24px;
  filter: brightness(0.8);
  transition: filter 0.3s ease-in-out;
}

.icons:hover,
.icons:focus {
  filter: brightness(1);
  outline: 2px solid #e9573a;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .card {
    padding: 15px;
    max-width: 90%;
  }

  .cardImage img {
    width: 150px;
  }

  .cardTitle h2 {
    font-size: 24px;
  }

  .cardTitle h6 {
    font-size: 14px;
  }

  .cardText h3 {
    font-size: 18px;
  }

  .cardText h4 {
    font-size: 14px;
  }

  .icons {
    width: 20px;
    height: 20px;
  }
}
